- var curyear = function() {
-    return new Date().getFullYear();
- }

p &nbsp;

footer

    center 
     p -----------------------------------------
     p!= '&copy;'+curyear()+' '+copyright+' &middot; Original by Antares'

