- var curyear = function() {
-    return new Date().getFullYear();
- }

p &nbsp;

footer

    center 

     p Donation: 1K3L8Q4ArCzknMhzU6rLy4BVJmQwHfaZ8X
     p -----------------------------------------
     p!= '&copy;'+curyear()+' '+copyright+' &middot; Modified by Antares'

