if isAdmin
	li
		a(href=config.dashboard.path) Dashboard
li
	a(href='https://neurai.org') Neurai
li
	a(href='https://neuraiexplorer.com') Explorer
li
	a(href='https://discord.gg/dxJSrSeXjF') Discord
li
	a(href='https://t.me/neuraiproject') Telegram
li
	a(href='https://twitter.com/neuraiproject') Twitter
li
	a(href='https://www.reddit.com/r/neuraiproject') Reddit
