if isAdmin
	li
		a(href=config.dashboard.path) Dashboard
li
	a(href='https://radiantblockchain.org') Radiant
li
	a(href='https://discord.gg/5xRppjz') Discord
li
	a(href=' https://t.me/RadiantBlockchain') Telegram
li
	a(href='https://twitter.com/RadiantLayerOne') Twitter
