div.well

	div.payouts

		h4!= "Wallets"
		p
		a(href='https://github.com/NeuraiProject/Neurai/releases/latest') Neurai-QT (desktop)
		p 
		a(href='https://github.com/NeuraiProject/electrum-neurai/releases/latest') Electrum (desktop)
		p 
		a(href='https://github.com/KomodoPlatform/komodo-wallet-desktop/releases/latest') Komodo Wallet (desktop)
		p 
		a(href='https://vidulum.app') Vidulum (web+mobile)
		p 
		a(href='https://webwallet.neurai.top/') Neurai-web (web)
