script(src='//code.jquery.com/jquery-3.7.0.min.js')
script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')

if page == 'home'
	script(src='/captcha?_c='+new Date().getTime())
	script(src='/js/form.js?_c='+new Date().getTime())